.handlesLinks-carousel {
    width: 100%;
    padding: 60px 20px;
    background: var(--bg-linear);
    color: var(--nav-text-color);
    overflow: hidden;
}

.carousel-container {
    display: flex;
    gap: 6rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
    scroll-behavior: smooth;
    justify-content: center;
}

.handlesLinks-card {
    margin-left: 70px;
    flex: 0 0 420px;
    background: var(--card-bg);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 24, 24, 0.068);
    border-radius: 20px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    position: relative;
    width: 500px;
}

.handlesLinks-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: var(--shadow);
}

.handlesLinks-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.handlesLinks-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.handlesLinks-card:hover .handlesLinks-image img {
    transform: scale(1.1);
}

.handlesLinks-content {
    padding: 20px 0px 0px 20px;
}

.handlesLinks-content h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: var(--nav-font-weight);
    color: var(--text-title);
}

.handlesLinks-content p {
    font-size: var(--nav-font-size);
    text-decoration: none !important;
    color: var(--primary);
}


@media (max-width: 768px) {
    .handlesLinks-card {
        flex: 0 0 280px;
    }
}

@media (max-width: 480px) {
    .carousel-title {
        font-size: 1.5rem;
    }

    .handlesLinks-card {
        flex: 0 0 260px;
    }

    .handlesLinks-content h3 {
        font-size: 1rem;
    }
}

.carousel-container {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 0 20px 20px;
    -webkit-overflow-scrolling: touch;
}

.carousel-container::-webkit-scrollbar {
    height: 6px;
    background: transparent;
}

.carousel-container::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 255, 0.2);
    border-radius: 10px;
}


.carousel-container>.handlesLinks-card:first-child {
    scroll-margin-left: 0;
}

@media (max-width: 768px) {
    .carousel-container {
        justify-content: flex-start;
        scroll-padding-left: 100px;
    }

    .handlesLinks-card {
        flex: 0 0 50%;
        margin-left: 0;
    }

    .See-more {
        margin-right: 19px;
    }

}

@media (max-width: 900px) {
    .carousel-container {
        justify-content: flex-start;
        scroll-padding-left: 100px;
    }
}

@media (max-width: 1300px) {
    .carousel-container {
        justify-content: flex-start;
        scroll-padding-left: 10px;
    }
}