    .dashboardPage {
        width: 100%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .dashboardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px 50px 0px;
    }

    .dashboardHeader h2{
        color: var(--text-title-two);
    }

    .statsGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 20px;
        margin-bottom: 40px;
    }

    .statCard {
        background: var(--bg);
        padding: 20px;
        border-radius: 12px;
        box-shadow: var(--shadow);
    }

    .statCard h3 {
        font-size: 15px;
        color: var(--text-title-two);
    }

    .statCard p {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 600;
        color: var(--text-main);
    }

    .dashboardSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 40px;
    }

    .dashboardSection h3 {
        font-size: 20px;
        color: var(--text-title-two);
    }

    .recentGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 15px;
    }

    .recentItem {
        background: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
        color: #666;
    }